<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>New Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="player-create">
    <div class="avatar">
      <div class="avatar-circle">NP</div>
      <app-primary-button
        type="outline"
        [label]="'Choose photo'"
        [size]="'sm'"
      ></app-primary-button>
    </div>

    <ion-item
      lines="none"
      class="player-create__name ion-no-padding"
    >
      <ion-label position="stacked">Name</ion-label>
      <ion-input placeholder="Enter player name"></ion-input>
    </ion-item>

    <div class="color-picker">
      <label>Color</label>
      <div class="colors">
        @for (color of playerColors | keyvalue; track color.key) {
          <div
            class="color-box"
            [ngStyle]="{
              'background-color': color.value
            }"
          ></div>
        }
      </div>
    </div>

    <div class="actions">
      <app-primary-button
        type="outline"
        [label]="'Cancel'"
      ></app-primary-button>
      <app-primary-button
        [disabled]="true"
        [label]="'Save Player'"
      ></app-primary-button>
    </div>
  </div>
</ion-content>
