<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="actions-grid">
    <div class="action-item" (click)="onNewGame()">
      <div class="action-circle">
        <ion-icon name="trophy-outline"></ion-icon>
      </div>
      <span class="action-label">New Game</span>
    </div>

    <div class="action-item" (click)="router.navigate(['/players/create'])">
      <div class="action-circle">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>
      <span class="action-label">New Player</span>
    </div>

    <div class="action-item" (click)="router.navigate(['/templates/create'])">
      <div class="action-circle">
        <ion-icon name="document-outline"></ion-icon>
      </div>
      <span class="action-label">New Template</span>
    </div>
  </div>
</ion-content>
